language: go

# You don't need to test on very old version of the Go compiler. It's the user's
# responsibility to keep their compilers up to date.
go:
  - 1.11.x

# Only clone the most recent commit.
# git:
#   depth: 3

install: true

notifications:
  email: false

script:
  - go build main.go
  - git remote add deploy gouser@gethrpc.jeman.de:~/go/src/gethGoKitRPCMicroService
  - git push deploy master